body {
    margin: 0;
    padding: 0;
    min-height: 721px;
    font-size: 50px;
    color: white;
    background: rgb(131,58,180);
    background: linear-gradient(0deg,
    rgba(131,58,180,0.8494748241093313) 0%,
    rgba(253,29,29,0.7458333675266982) 50%,
    rgba(252,176,69,0.8074580173866421) 100%);

}

.container {
    width: 1200px;
    height: inherit;
    margin-right: auto;
    margin-left: auto;
}

.intro {
    height: 950px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

span {
    font-weight: bold;
    position: absolute;
}

.name {
    top: 300px;
}

.underline {
    text-decoration: underline;
    margin-left: 10px;
}

.age {
    top: 420px;
    left: 940px;
}

.age img {
    position: absolute;
    top: -170px;
}

.passion {
    top: 640px;
    left: 340px;
}

.friends {
    top: 920px;
    left: 500px;
}

.friends::after {
    content: "\003A \0029";
    font-size: 70px;
    margin-left: 20px;
}

.images {
    height: 550px;
}

.street
{
    transform: translate(150px, 50px) rotate(-15deg);
}

.flowers {
    transform: translate(110px, 50px) rotate(15deg);
}

.stairs {
    transform: scale(1.3) translate(100px);
}