ol {
    margin: 0;
    background-color: #d5ffc4;
    padding: 20px 100px;
    font-size: 70px;
    color: white;
}

li {
    background-color: #eec9c9;
    margin-bottom: 10px;
}

li span {
    background-color: rgba(205, 92, 92, 0.45);
}

.apple {
    list-style-image: url("../img/apple.png");
}

.strawberry {
    list-style-image: url("../img/strawberry.png");
}

.kiwi {
    list-style-image: url("../img/kiwi.png");
}

.pomegranate {
    list-style-image: url("../img/pomegranate.png");
}

.mango {
    list-style-image: url("../img/mango.png");
}