body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.header-menu {
    padding-top: 90px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    color: #4ca9ff;
    font-size: 150px;
    margin-right: 70px;
    text-shadow: 0.5px 0 #29618d, 0 -0.5px #29618d, 0.5px -0.5px #29618d, 4px -2px #4ca9ff;
}

.logo-sign {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
}

.logo-row {
    width: 100%;
    display: flex;
    height: 50%;
    color: black;
}

.square-part {
    width: 50%;
    background-color: #4ca9ff;
}

.top-right-part {
    width: 50%;
    background-color: #ffcef5;
    border-radius: 0 50% 0 0;
}

.bottom-left-part {
    width: 50%;
    background-color: #ffcef5;
    border-radius: 0 0 0 50%;
}

.logo-part:hover {
    background-color: black;
}

.menu {
    display: none;
    position: absolute;
    top: 305px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo-sign:hover .menu {
    display: flex
}

.menu-item {
    display: inline-block;
    height: 20px;
    text-decoration: none;
    font-size: 20px;
    padding: 7px 20px;
    margin-left: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #fff;
    position: relative;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

.menu-item:hover {
    background-color: #000;
    color: white;
}