body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgba(190, 187, 187, 1) 0%, rgba(108, 175, 255, 1) 100%);
}

.weather {
    height: 350px;
    width: 350px;
    margin: 150px auto 0 auto;
}

.weather .main, .additional {
    border: 2px solid white;
    box-shadow: 5px 5px 10px whitesmoke;
}

.weather .additional {
    position: absolute;
    top: 450px;
    right: 340px;
    z-index:-1;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(45deg, darkgrey, white);
    border: 1px solid white;
    position: absolute;
    top: 560px;
    left: 450px;
}

.arrow {
    height: 70px;
    width: 70px;
    opacity: 0.7;
    position: absolute;
    top: 290px;
    left: 594px;
}

.arrow-left {
    transform: rotate(180deg);
    left: 519px;
    border-left: 5px solid white;
}

.date {
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    top: 30px;
    left: 50px;
}

.year {
    font-size: 30px;
    position: absolute;
    top: 30px;
    right: 50px;
}

.time {
    font-size: 70px;
    position: absolute;
    top: 70px;
    left: 550px;
}

.cloud {
    position: absolute;
    top: 100px;
    left: 740px;
    opacity: 0.9;
}